<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- basic setup -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <!-- page title -->
        <title>Login / Sign Up</title>
        
        <!-- css -->
        <link rel="stylesheet" href="/static/flasktest-auth.css" />
    </head>
<body>
    <!-- main card -->
    <main class="card">
        <h1 id="title">Welcome - 1086 Attendance</h1>

        <!-- tabs to switch -->
        <div class="tabs">
            <button id="tabLogin" class="tab active" type="button">Login</button> 
            <button id="tabSignup" class="tab" type="button">Sign Up</button> 
        </div>

        <!-- form -->
        <form id="form" class="form" action="{{ url_for('api_signup') }}" method="post">
            
            <!-- username -->
            <label>
                Username
                <input id="username" type="text" autocomplete="username" name="username" required/>
            </label>

            <!-- only shows on signup -->
            <label class="signup-only">
                Full Name
                <input id="name" type="text" autocomplete="name" name="name"/>
            </label>

            <!-- email -->
            <label class="signup-only">
                 Email (hcps)
                 <input id="email" type="email" autocomplete="email" name="email"/>
             </label>

             <!-- password -->
             <label>
                Password
                <input id="password" type="password" autocomplete="password" name="password" required/>
            </label>

            <!-- choose subteam -->
            <div class="checkbox-group signup-only" name="subteam">
                <label>Subteam</label>
                
                <label class="checkbox-item">
                    <input type="checkbox" name="subteam" value="build">
                    Build 
                </label>

                <label class="checkbox-item">
                    <input type="checkbox" name="subteam" value="programming">
                    Programming 
                </label>

                <label class="checkbox-item">
                    <input type="checkbox" name="subteam" value="design">
                    Design
                </label>

                <label class="checkbox-item">
                    <input type="checkbox" name="subteam" value="impact">
                    Impact 
                </label>
                
                <label class="checkbox-item">
                    <input type="checkbox" name="subteam" value="advocacy">
                    Advocacy 
                </label>

                <label class="checkbox-item">
                    <input type="checkbox" name="subteam" value="outreach">
                    Outreach 
                </label>

                <label class="checkbox-item">
                    <input type="checkbox" name="subteam" value="media">
                    Media 
                </label>

            </div>

            <!-- grade dropdown -->
            <label class="signup-only">
                Grade
                <select id="grade" name="grade">   <!-- dropdown for grade !-->
                    <option value="">Select grade</option>
                    <option value="9">9th</option>
                    <option value="10">10th</option>
                    <option value="11">11th</option>
                    <option value="12">12th</option>
                </select>
            </label>

            <!-- veteran or rookie -->
            <label class="signup-only">
                Veteran or Rookie
                <select id="member-type" name="status">
                    <option value="">Select one</option>
                    <option value="veteran">Veteran</option>
                    <option value="rookie">Rookie</option>
                </select>
            </label>

            
            
        
        </form>

        <!-- button to submit / go back -->
        <a href="{{ url_for('home') }}" class="nav-link active">
            <button id="submitBtn" class="primary login-only" type="button">Login</button>
            <p id="msg" class="msg" aria-live="polite"></p>
        </a>

    </main>

    <!-- js -->
    <script src="/static/flasktest-auth.js"></script>
</body>
</html>
