<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic setup -->
    <meta charset="UTF-8">
    
    <!-- responsive screen settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- page title -->
    <title>Members</title>
</head>
<body>
    
    <!-- members table -->
    <table>
        
        <!-- table headers -->
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subteam</th>
            <th>Status</th>
        </tr>

        <!-- loop through members -->
        {% for member in members %}
        <tr>
            <td>{{ member.username }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.p_subteam_id }}</td>
            <td>{{ member.status }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
