{% block heading %}
    <h1>Hey {{data['username']}}!</h1>
{% endblock %}

{% block content %}
  <div class="container profile-page">

    <div class="profile-form">
      <form method="POST" enctype="multipart/form-data">
        <img id="profile-img" src="{{url_for('static', filename=data['ProfileImage'])}}">
        <input type="file" id="dp-input" name="image" accept=".jpg, .png, .gif">
        <input type="text" placeholder="Enter your first name" name="FirstName" value="{{data['FirstName']}}">
        <input type="text" placeholder="Enter your last name" name="LastName" value="{{data['LastName']}}">
        <input type="email" placeholder="Enter your email id" name="Email" value="{{data['Email']}}">
        <input type="text" placeholder="One line about yourself" name="Bio" value="{{data['Bio']}}">
        <input type="submit" value="Save Profile">
      </form>      
    </div>
      

  </div>
  <script>
    function readURL(event) {
      var input = event.currentTarget;
      if (input.files[0]) {
         var reader = new FileReader();
         reader.readAsDataURL(input.files[0]);
         reader.onload = function (e) {
          $('#profile-img').attr('src', e.target.result);
         }
      }
    }
    $("#dp-input").change(readURL);
  </script>

{% endblock %}

{% set logged_in=True %}
