#camera, #camera--view, #camera--sensor, #camera--output {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--trigger {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    
}